spring:
  application:
    name: student
  datasource:
    url: jdbc:postgresql://localhost:5432/teaching_system
    username: "okayreet"
    password: "password"
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
